<h2>Your Cart</h2>

{% if cart_items %}
  <ul>
    {% for item in cart_items %}
      <li>
        {{ item.product.name }} - ${{ item.product.price }} x {{ item.quantity }} = <strong>${{ item.total }}</strong>
        
        <!-- Remove from cart button -->
        <form method="post" action="{% url 'remove_from_cart' item.product.id %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Remove</button>
        </form>
        <form method="post" action="{% url 'checkout' %}">
          {% csrf_token %}
          <input type="submit" value="Proceed to Checkout">
      </form>
      
      </li>
      <br>
    {% endfor %}
  </ul>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}

<a href="{% url 'browse_products' %}">Continue Shopping</a>
